# === Python 기본 ===
__pycache__/
*.pyc
*.pyo
*.pyd

# === 가상환경 ===
venv/
env/
.venv/

# === 데이터 관련 ===
data/
*.zip
*.csv
*.pth
*.h5
*.npz
*.npy
*.ckpt
*.pt

datas/
*.zip
*.csv
*.pth
*.h5
*.npz
*.npy
*.ckpt
*.pt

# === IDE/에디터 ===
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# === OS 기본 ===
.DS_Store
Thumbs.db
